{
  "extends": ["oclif", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": 0,
    "semi": 0,
    "object-curly-spacing": 0,
    "unicorn/filename-case": [
      "error",
      {
        "case": "kebabCase",
        "ignore": ["child_process\\.js$"]
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "jest": true
  }
}
